doctype html 
html 
    head 
        title Sync Player 
        if useExternalStyles 
            link(rel="stylesheet", href="/build/application.css")
            
    body
        .site-wrap
            .column.left
                section.playlist 
                    h1
                        i.fa.fa-circle-o-notch.fa-spin
            .column.center
                section.player 
                    h1
                        i.fa.fa-circle-o-notch.fa-spin
                section.chat 
                    h1
                        i.fa.fa-circle-o-notch.fa-spin
            .column.right 
                section.users 
                    h1
                        i.fa.fa-circle-o-notch.fa-spin
                        
        script(src="/build/vendor.js")
        script(SRC="/build/application.js")
