@import '../../styles/variables';

section.playlist {
  display: flex;
  flex-direction: column;
  position: relative;

  > h1 {
    border: none;
  }

  .chrome {
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    position: relative;

    > .scroll-area {
      position: relative;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
    }
  }
}

//---------------------------
// Toolbar
html.not-logged-in section.playlist .toolbar {
  display: none;
}

section.playlist .toolbar {
  padding-bottom: 5px;
  background: $border-panel;
  flex-grow: 0;
  flex-shrink: 0;
  border-bottom: 2px solid darken($background, 5%);

  a {
    display: inline-block;
    font-size: 10pt;
    text-decoration: none;
    padding: 2px 5px;
    color: lighten($color-information, 10%);
    border: darken($background, 20%);

    &:hover {
      color: $color-highlight;
    }
  }
}
//--------------------------
// Context Menu
section.playlist .context-menu {
  z-index: 100;
  left: 0;
  right: 0;
  box-sizing: border-box;
  display: none;
  position: absolute;
  background: lighten($background-panel, 10%);
  border: 5px solid lighten($border-panel, 10%);

  &.open {
    display: block;
  }

  > a {
		padding: 5px;
		color: $color-highlight;
		text-decoration: none;
		display: flex;

		i {
			order: 1;
			margin-left: auto;
		}

		&:hover {
			background: $background-panel;
		}

		&.delete {
			background: darken($color-danger, 5%);

			&:hover {
				background: darken($color-danger, 10%);
			}
		}
	}
}

//--------------------------
// Playlist Items

@mixin thumbnail-size($width) {
  $thumb-aspect: .75;
  width: $width;
  height: $thumb-aspect * $width;
}

html section.playlist .playlist-list > li:hover {
  background: $border-panel;

  > .inner {
      img {
        @include thumbnail-size(60px);
        top: -5px;
        left: -5px;
        opacity: 1;
        border: none;
      }

      .details {
        margin-left: 20px;
      }
  }
}

section.playlist .playlist-list {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-grow: 1;
  min-height: 100%;

  > li {
    transition:
      background 250ms linear,
      color 250ms linear,
      box-shadow 100ms linear,
      transform 500ms;

    padding: 0;
    cursor: default;
    display: inline-block;
    width: 100%;

    > .inner {
      margin: 5px;
      padding-bottom: 5px;
      position: relative;
      display: flex;

      .thumb-wrapper {
        @include thumbnail-size(30px);
        margin-right: 10px;
        position: relative;
        flex-grow: 0;
        flex-shrink: 0;

        img {
          @include thumbnail-size(30px);
          position: absolute;
          top: 0;
          left: 0;
          border: 2px solid $background;
          opacity: .5;
          display: block;
        }
      }

      .details {
        align-self: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: margin-left 250ms;

        time {
          display: block;
          font-size: 7pt;
          color: darken($color, 20%);
          padding-top: 4px;
        }
      }

      .progress {
        display: none;
      }
    }

    &.is-playing {
      box-shadow: 0 0 5px 2px #000;
      background: darken($background-panel, 3%);
      color: $color-highlight;

      > .inner {
        .thumb-wrapper img {
          opacity: 1;
          border: 2px solid $color-information;
        }

        .details time {
          color: darken($color-highlight, 10%);
        }

        &:after, .progress {
          content: " ";
          display: block;
          position: absolute;
          left: 5px;
          right: 5px;
          bottom: 0;
          height: 1px;
        }

        &:after {
          z-index: 199;
          background: darken($background, 5%);
        }

        .progress {
          transition: width 100ms;
          z-index: 200;
          background: $color-information;
        }
      }
    }

    &.selected {
      position: relative;
      z-index: 1;
      background: lighten($border-panel, 10%);
      color: $color-highlight;

      > .inner {
          .thumb-wrapper img {
            opacity: 1;
          }
      }
    }
  }
}
