$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "./styles/variables";

::-webkit-scrollbar {
	height: 5px;
	width: 5px;
	background: darken($background, 3%);
}

::-webkit-scrollbar-corner {
	background: #000;
}

::-webkit-scrollbar-thumb {
	background-color: $color-information;

	&:hover {
		background: lighten($color-information, 20%);
	}
}

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background: $background;
	color: $color;
	font-size: 9pt;
	font-family: Arial, Helvetica, sans-serif;
}

.site-wrap {
	height: 100%;
	display: flex;
	border-bottom: 5px solid $border-panel;
	box-sizing: border-box;

	> .column {
		flex-grow: 1;
		display: flex;
		flex-direction: column;

		&.left {
			width: 200px;
			flex-shrink: 0;
			flex-grow: 0;

			> section {
				border-right: 5px solid $border-panel;
			}
		}

		&.right {
			width: 200px;
			flex-shrink: 0;
			flex-grow: 0;

			> section {
				border-left: 5px solid $border-panel;
			}
		}

		&.center {
			flex-grow: 1;
		}
	}
}

.column > section {
	background: $background-panel;
	flex-grow: 1;
	overflow: hidden;

	> h1 {
		background: $border-panel;
		border-bottom: 2px solid darken($background, 5%);
		padding: 5px;
		margin: 0;
		font-weight: normal;
		color: lighten($color, 10%);
		font-size: 9pt;
		text-transform: lowercase;
		flex-shrink: 0;

		display: flex;

		.info {
			margin-left: auto;
			font-size: 8pt;
			color: darken($color, 15%);
			align-self: flex-end;
		}
	}
}
